################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApplicationCore/bin/Debug/net5.0/ApplicationCore.deps.json
